{% extends "header.html" %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        {{ question.title }}
      </div>
        <div class="card-header">
         (Posted on: {{question.date }})
            Likes: {{question.likes}}
        </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Question By:</b> {{ question.commenter.username}}</li>
        </ul>
          {{ question.description }}
      </div>
    </div>
  </div>
 {# Create like button #}
<div class="row">
    <div class="form-group">
        <form method="post">
        {{ likes_form.csrf_token }}
        {{ likes_form.submit(class="form-control form-control-lg") }}
        </form>
    </div>
</div>
</div>


    {# Render the answer form #}
{% if current_user.is_authenticated %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Give your answer here:
      </div>
      <div class="card-body">
        <form method="post">
          {{ answer_form.csrf_token }}
          {{ answer_form.answer(class="form-control form-control-lg")}}
            <div class="form-group">
                 {{ answer_form.submit(class="form-control form-control-lg") }}
             </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-body">
        <p>Please login to answer this question</p>
      </div>
    </div>
  </div>
</div>
{% endif %}

    {# Render the answers #}
{% if answers%}
    {% for answer in answers %}
    <div class="row">
      <div class="col">
        <div class="card text-center">
           <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Answer By:</b> {{ answer.commenter.username}}</li>
            </ul>
           </div>
            <div class="card-header">
             (Posted on: {{answer.date}})
            </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ question.commenter.username}}'s answer:</li>
            </ul>
              {{ answer.description }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <p>No answers yet</p>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}